:root {
	--ctp-mocha-rosewater: #f5e0dc;
	--ctp-mocha-rosewater-rgb: rgb(245, 224, 220);
	--ctp-mocha-rosewater-raw: 245, 224, 220;
	--ctp-mocha-flamingo: #f2cdcd;
	--ctp-mocha-flamingo-rgb: rgb(242, 205, 205);
	--ctp-mocha-flamingo-raw: 242, 205, 205;
	--ctp-mocha-pink: #f5c2e7;
	--ctp-mocha-pink-rgb: rgb(245, 194, 231);
	--ctp-mocha-pink-raw: 245, 194, 231;
	--ctp-mocha-mauve: #cba6f7;
	--ctp-mocha-mauve-rgb: rgb(203, 166, 247);
	--ctp-mocha-mauve-raw: 203, 166, 247;
	--ctp-mocha-red: #f38ba8;
	--ctp-mocha-red-rgb: rgb(243, 139, 168);
	--ctp-mocha-red-raw: 243, 139, 168;
	--ctp-mocha-maroon: #eba0ac;
	--ctp-mocha-maroon-rgb: rgb(235, 160, 172);
	--ctp-mocha-maroon-raw: 235, 160, 172;
	--ctp-mocha-peach: #fab387;
	--ctp-mocha-peach-rgb: rgb(250, 179, 135);
	--ctp-mocha-peach-raw: 250, 179, 135;
	--ctp-mocha-yellow: #f9e2af;
	--ctp-mocha-yellow-rgb: rgb(249, 226, 175);
	--ctp-mocha-yellow-raw: 249, 226, 175;
	--ctp-mocha-green: #a6e3a1;
	--ctp-mocha-green-rgb: rgb(166, 227, 161);
	--ctp-mocha-green-raw: 166, 227, 161;
	--ctp-mocha-teal: #94e2d5;
	--ctp-mocha-teal-rgb: rgb(148, 226, 213);
	--ctp-mocha-teal-raw: 148, 226, 213;
	--ctp-mocha-sky: #89dceb;
	--ctp-mocha-sky-rgb: rgb(137, 220, 235);
	--ctp-mocha-sky-raw: 137, 220, 235;
	--ctp-mocha-sapphire: #74c7ec;
	--ctp-mocha-sapphire-rgb: rgb(116, 199, 236);
	--ctp-mocha-sapphire-raw: 116, 199, 236;
	--ctp-mocha-blue: #89b4fa;
	--ctp-mocha-blue-rgb: rgb(137, 180, 250);
	--ctp-mocha-blue-raw: 137, 180, 250;
	--ctp-mocha-lavender: #b4befe;
	--ctp-mocha-lavender-rgb: rgb(180, 190, 254);
	--ctp-mocha-lavender-raw: 180, 190, 254;
	--ctp-mocha-text: #cdd6f4;
	--ctp-mocha-text-rgb: rgb(205, 214, 244);
	--ctp-mocha-text-raw: 205, 214, 244;
	--ctp-mocha-subtext1: #bac2de;
	--ctp-mocha-subtext1-rgb: rgb(186, 194, 222);
	--ctp-mocha-subtext1-raw: 186, 194, 222;
	--ctp-mocha-subtext0: #a6adc8;
	--ctp-mocha-subtext0-rgb: rgb(166, 173, 200);
	--ctp-mocha-subtext0-raw: 166, 173, 200;
	--ctp-mocha-overlay2: #9399b2;
	--ctp-mocha-overlay2-rgb: rgb(147, 153, 178);
	--ctp-mocha-overlay2-raw: 147, 153, 178;
	--ctp-mocha-overlay1: #7f849c;
	--ctp-mocha-overlay1-rgb: rgb(127, 132, 156);
	--ctp-mocha-overlay1-raw: 127, 132, 156;
	--ctp-mocha-overlay0: #6c7086;
	--ctp-mocha-overlay0-rgb: rgb(108, 112, 134);
	--ctp-mocha-overlay0-raw: 108, 112, 134;
	--ctp-mocha-surface2: #585b70;
	--ctp-mocha-surface2-rgb: rgb(88, 91, 112);
	--ctp-mocha-surface2-raw: 88, 91, 112;
	--ctp-mocha-surface1: #45475a;
	--ctp-mocha-surface1-rgb: rgb(69, 71, 90);
	--ctp-mocha-surface1-raw: 69, 71, 90;
	--ctp-mocha-surface0: #313244;
	--ctp-mocha-surface0-rgb: rgb(49, 50, 68);
	--ctp-mocha-surface0-raw: 49, 50, 68;
	--ctp-mocha-base: #1e1e2e;
	--ctp-mocha-base-rgb: rgb(30, 30, 46);
	--ctp-mocha-base-raw: 30, 30, 46;
	--ctp-mocha-mantle: #181825;
	--ctp-mocha-mantle-rgb: rgb(24, 24, 37);
	--ctp-mocha-mantle-raw: 24, 24, 37;
	--ctp-mocha-crust: #11111b;
	--ctp-mocha-crust-rgb: rgb(17, 17, 27);
	--ctp-mocha-crust-raw: 17, 17, 27;
}
